li {
  list-style-type: none;
  display: inline-block;
  list-style-type: none;
  margin-right: -4px;
  padding: 10px;
  text-align: center;
  margin-left: 100px;
}

h1 {
  text-align: center;
  font-size: 100px;
}

p {
  text-align: center;
  margin-top: 50px;
  margin-left: 500px;
  margin-right: 500px;
}

img {
  position: relative;
  left: 250px;
  margin: 80px;
  box-shadow: 20px;
}
h2 {
  text-align: center;
  font-size: 100px;
}

* {
  background-color: rgb(255, 200, 127);
}

table {
  margin-left: 673px;
}

table {
  margin-left: 672px;
}
